@import "~nav-frontend-core/less/core";

.infokort{
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    
    &__ikon{
        width: 2rem;
        height: 2rem;
        margin-right: 20px;
    }

    &__content{
        display: flex;
        flex-direction: column;

        .saksheader{
            font-weight: bold;
        }
    }
}

.infokort__even{
    background-color: @navLysGra;
}

.infokort__odd{
    background-color: white;
}    