name: Build-Deploy-Npm
on:
  push:
    branches:
      - "main"
    paths-ignore:
      - package.json

jobs:
  build-and-push-to-npm:
    permissions:
      contents: write
      issues: write
      pull-requests: write
      packages: write
    name: Bygg og push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v4
        with:
          node-version: 24
          cache: "yarn"
          registry-url: "https://npm.pkg.github.com"
      - name: Prepare repository
        run: git checkout "${GITHUB_REF:11}"

      - name: Installer dependencies
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: |
          yarn --prefer-offline --frozen-lockfile --ignore-scripts
          yarn build
      - name: Login
        run: |
          git config user.email "teamfamilie@nav.no"
          git config user.name "Team familie"
          git remote set-url origin https://github-actions[bot]:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create a .npmrc file for the github package repository
        uses: FerLuisxd/create-npmrc@6fc58cba3dcf19a4f65330dc93e6026fe234f304 # ratchet:FerLuisxd/create-npmrc@3
        with:
          org_name: navikt
        env:
          AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Push
        run: |
          yarn deploy-storybook
          npm run publish:ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
